.large-tile {
	cursor: pointer;
	position: relative;
	float: left;
	border: 2px solid #999;
	padding: 10px;
	/*-moz-border-radius-bottomleft: 10px;*/
	/*-moz-border-radius-bottomright: 10px;*/
	/*-moz-border-radius-topleft: 10px;*/
	/*-moz-border-radius-topright: 10px;*/
	/*-webkit-bottom-left-border-radius: 10px;*/
	/*-webkit-bottom-right-border-radius: 10px;*/
	/*-webkit-top-left-border-radius: 10px;*/
	/*-webkit-top-right-border-radius: 10px;*/
	/*border-bottom-left-radius: 10px;*/
	/*border-bottom-right-radius: 10px;*/
	/*border-top-left-radius: 10px;*/
	/*border-top-right-radius: 10px;*/
	display: block;
	margin: 20px 20px 20px 0px;
	background: white;
	font-size: 30px;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: green;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 2px;
}